.page {
  background: rgb(245, 245, 245);
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: 76px;
  background:#C00026;
  padding: 15px 20px;
}

.logo {
  width: 120px;
  height: 42px;
}

.content {
  position: relative;
  height: calc(100vh - 76px - 58px);
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content .loading {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background: red;
  }
}

.form {
  box-sizing: border-box;

  width: 40%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  background: white;

  .title {
    font-size: 18px;
    color: #C00026;
    margin-bottom: 20px;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;

    .label {
      font-size: 11px;
      color: rgba(0, 0, 0, .4)
    }

    .input {
      border: none;
      outline: none;
      background: none;
      border-bottom: 1px solid #ddd;
      padding: 2px 2px 7px 2px;
      color: #888;
      width: 85%;
    }
  }

  .inputWrapper:first-of-type {
    margin-bottom: 25px;
  }

  .button {
    margin-top: 12px;
    display: inline;
    width: max-content;
    background-color: #00bcd4;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    font-weight: bold;
    border-right: 2px solid #00a5bb;
    border-bottom: 2px solid #00a5bb;
    font-family: Verdana;
    letter-spacing: 0.1pt;
  }

  .loadingButton {
    margin-top: 12px;
    display: inline;
    width: max-content;
    background-color: #00bcd4;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    font-weight: bold;
    border-right: 2px solid #00a5bb;
    border-bottom: 2px solid #00a5bb;
    font-family: Verdana;
    letter-spacing: 0.1pt;

    filter: grayscale(1);
  }
}

.response {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-size: 12px;
  color: rgba(0, 0, 0, 0.59);

  margin-top: 12px;
}

.footer {
  padding: 22px 0 22px 64px;
  background: #e6e7e8;
  
  .address {
    font-size: 12px;
    font-style: normal;
    color: #333;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    width: 90%;
  }

  .footer {
    padding: 18px;
    text-align: center;
  }
}